<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="myself.mybatis.l1.mapping.userMapper">
    <!-- 第一行的code name password对应的是数据库里的字段
    		而第二行的带＃｛｝的code name password，对应的反而是POJO里的属性 -->
   <!--  <insert id="insertOne" parameterType="myself.pojo.User">
    		insert into `user` (id, name) values
    			(#{id}, #{name})
   </insert>
   
    <insert id="insertWithoutId" parameterType="myself.pojo.User"
    			keyProperty="id"
    			useGeneratedKeys="true">
    		insert into `user` ( name) values
    			(#{name})
   </insert>
   
    <update id="updateUser" parameterType="myself.pojo.User">
    update user set name=#{name} where id=#{id}
    </update>
    
    <delete id="deleteUser" parameterType="int">
    		delete from user where id=#{id}
    </delete>
    
    <select id="selectById" parameterType="int" resultType="map" >
    select * from where id=#{id}
    </select> -->
    
    <select id="selectAll"  resultType="myself.pojo.User">
    select * from user;
    </select>
   
</mapper>