<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
                        
    <bean id="baseDao" class="com.my.datasource.BaseDao">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>
                   
    <bean id="dataSource1" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis_one?useSSL=false"/>
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    
    <bean id="dataSource2" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis_one?useSSL=false"/>
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    
    <bean id="dataSource3" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mybatis_one?useSSL=false"/>
        <property name="user" value="root" />
        <property name="password" value="root" />
    </bean>

</beans>